<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hi, my name is Tom Harpur and this site is where I share some of my favourite videos, images, and thoughts regarding skiing.</p>
  </div>
  <div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
      <li><a href="/posts/by_year_and_month/2015/10">October 2015</a></li>
      <li><a href="/posts/by_year_and_month/2015/09">September 2015</a></li>
      <li><a href="/posts/by_year_and_month/2015/08">August 2015</a></li>
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/t-harps/ski-blog">GitHub</a></li>
      <li><a href="https://tom-harpur.herokuapp.com">My Personal Website</a></li>
      <% if admin_signed_in? %>
        <li><%= link_to 'New Post', new_post_path %><li>
      <% end %>
    </ol>
  </div>
</div>