<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <p class="blog-nav-item active"><%= link_to "Home", root_path %></p>
      <a class="blog-nav-item" href="#">Video</a>
      <a class="blog-nav-item" href="#">Image</a>
      <a class="blog-nav-item" href="#">Text</a>
      <a class="blog-nav-item" href="#">About</a>
    </nav>
  </div>
</div>