<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href='http://localhost:3000/'>Home</a>
      <a class="blog-nav-item" href="http://localhost:3000/tags/2">Video</a>
      <a class="blog-nav-item" href="http://localhost:3000/tags/6">Image</a>
      <a class="blog-nav-item" href="http://localhost:3000/tags/10">Text</a>
      <a class="blog-nav-item" href="#">About</a>
    </nav>
  </div>
</div>